/* Estilos globais */
* {
    font-family: "Roboto", "Calibri", "sans-serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: #000;
    overflow-x: hidden;
}

main {
    justify-content: center;
    display: flex;
    flex-direction: column;
}


/* Menu de Navegação */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 10px 0px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

li {
    margin: 0 10px;
    font-size: 15px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-icon {
    text-decoration: none;
    padding: 5px;
    color: white;
}

.social-media-icon:hover {
    color: #FF460A;
    transition: 0.5s;
}

.btn-nav {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-family: "Roboto", "Calibri", "sans-serif";
    cursor: pointer;
    font-weight: bold;
}

.btn-nav:hover {
    color: #00a764;
    transition: 0.5s;
}

.btn-nav:after {
    content: "";
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}

.btn-nav:hover:after {
    width: 100%;
    left: 0;
    background: #00a764;
}

#btn-area-cliente {
    background-color: #FF460A;
    border-radius: 8px;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Roboto", "Calibri", "sans-serif";
}


#btn-area-cliente:hover {
    background-color: #00a764;
}

/*DropDown Menu*/

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #000;
    z-index: 1000;
    padding: 10px;
}

.dropdown-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: white;
    white-space: nowrap; /* Impede a quebra de texto */
}

.dropdown-menu ul li {
    margin: 5px;
}
li {
    position: relative;
}

.dropdown-menu ul li a:hover {
    color: #FF460A;
}

li:hover .dropdown-menu {
    display: block;
}

/* Primeira section */
#background_init {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background: none;
}

#background_init video#background_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

#background_init .background_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

#background_init_text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 50%;
    /* opcional: adicionar um fundo translúcido para melhor leitura */
    /* background: rgba(0,0,0,0.3); border-radius: 10px; padding: 20px; */
}

#background_init_text h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#background_init_text p {
    font-size: 18px;
    margin-bottom: 20px;
}

#background_init_text .buttons {
    display: flex;
    gap: 20px;
}

#btn_contact,
#btn_mais {
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Roboto", "Calibri", "sans-serif";
    cursor: pointer;
    font-weight: bold;
}

#btn_contact {
    background-color: #FF460A;
}

#btn_mais {
    background-color: #ffffff;
    color: #000000;
}

#btn_contact:hover {
    background-color: #00a764;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#btn_mais:hover {
    background-color: #000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Segunda section */
#setores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#setores h2 {
    font-size: 30px;
    margin: 20px 0;
    color: #FF460A;
    font-weight: bold;
}

#box_setores {
    display: flex;
    justify-content: center; 
    align-items: stretch;    
    margin: 30px auto;       
    width: 100%;
    max-width: 900px;         
    gap: 50px;  
    max-height: 300px;               
}

.setor_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 12px;
    transition: box-shadow 0.3s;
    justify-content: flex-start;
}

.setor_cont img {
    width: 100px;
}

#box_setores a {
    text-decoration: none;
    color: #000;
}

#box_setores a:hover {
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0, 167, 100, 0.24),
        0 17px 50px 0 rgba(0, 167, 100, 0.19);
    transition: 0.5s;
}

.setor_cont h3 {
    color: #00a764;
    font-weight: bold;
    font-size: 20px;
}

/*Carrossel de imagens section 3*/

.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.carousel-item {
    min-width: 100%;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    color: white;
    text-align: center;
}

#section3_sobre {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

.carousel-item #section3_sobre {
    width: 50%;
}

.carousel-item p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-item #btn_contact {
    width: 310px;
    margin: 30px auto;
}

.section3_servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container_servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box_servicos {
    padding: 20px;
    width: 30%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box_servicos h3 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #00a764;
}

/*Footer*/

footer {
    display: flex;
    background-color: #000;
    color: white;
    flex-direction: column;
    font-family: "Roboto", "Calibri", "sans-serif";
}

#footer_logo img {
    width: 100px;
}

#footer_info {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

#footer_info h4 {
    font-weight: bold;
}

#footer_info a {
    text-decoration: none;
    color: #cfd7d8;
}

#footer_info a:hover {
    color: #00a764;
}

#footer_info li {
    margin-top: 10px;
}

.footer_nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer hr {
    color: #cfd7d8;
    width: 80%;
    margin: auto;
    border-radius: 8px;
}

#footer_priv {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

#footer_priv a {
    color: white;
}

#footer_priv a:hover {
    color: #00a764;
}

/* Animações */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Responsividade */

@media (max-width: 1920px) {
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #background_init_text {
        max-width: 80%;
    }

    #background_init_text h2 {
        font-size: 30px;
    }

    #background_init_text p {
        font-size: 16px;
    }

    #box_setores {
        flex-direction: column;
        align-items: center;
    }

    .carousel-item h3 {
        font-size: 30px;
    }

    .carousel-item #section3_sobre {
        width: 80%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    #footer_info {
        flex-direction: column;
        align-items: center;
    }

    #footer_priv {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #background_init_text {
        max-width: 90%;
    }

    #background_init_text h2 {
        font-size: 24px;
    }

    #background_init_text p {
        font-size: 14px;
    }

    #box_setores {
        flex-direction: column;
        align-items: center;
    }

    .carousel-item h3 {
        font-size: 24px;
    }

    .carousel-item #section3_sobre {
        width: 90%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    #footer_info {
        flex-direction: column;
        align-items: center;
    }

    #footer_priv {
        flex-direction: column;
        align-items: center;
    }
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background-color: #00C853;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s, transform 0.2s;
    text-decoration: none;
}

.whatsapp-float:hover {
    background: #00C853;
    color: #fff;
    transform: scale(1.1);
}
