* {
    font-family: "Roboto", "Calibri", "sans-serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101820ff;
    color: white;
    padding: 8px 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #101820ff;
    color: white;
    padding: 10px 20px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

li {
    margin: 0 10px;
}

#social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-icon {
    text-decoration: none;
    padding: 5px;
    color: white;
}

.social-media-icon:hover {
    color: #ee5b07;
    transition: 0.5s;
}

.btn-nav {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-nav:hover {
    text-decoration: underline;
    text-decoration-color: #ee5b07;
    text-decoration-thickness: 3px;
    transition: 0.3s;
}

#btn-area-cliente {
    background-color: #1a6d51;
    border-radius: 8px;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-area-cliente:hover {
    background-color: #ff7e29;
}

#background_init {
    background: linear-gradient(rgba(204, 85, 0, 0.7), rgba(255, 153, 51, 0.7)),
        url("../ASSETS/Images/background_init1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

#background_init_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 50%;
}

#background_init_text h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#background_init_text p {
    font-size: 18px;
    margin-bottom: 20px;
}

#background_init_text .buttons {
    display: flex;
    gap: 20px;
}

#btn_contact,
#btn_mais {
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Roboto", "Calibri", "sans-serif";
    cursor: pointer;
    font-weight: bold;
}

#btn_contact {
    background-color: #1a6d51;
}

#btn_mais {
    background-color: #ffffff;
    color: #000000;
}

#btn_contact:hover {
    background-color: #ff7e29;
}

#btn_mais:hover {
    background-color: #101820ff;
    color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header,
    nav,
    ul,
    #social-media {
        flex-direction: column;
        align-items: flex-start;
    }

    li {
        margin: 5px 0;
    }

    #btn-area-cliente {
        width: 100%;
        text-align: center;
    }

    #background_init {
        height: 60vh;
    }

    #background_init_text {
        max-width: 80%;
    }

    #background_init_text h2 {
        font-size: 40px;
    }

    #background_init_text p {
        font-size: 16px;
    }

    #background_init_text .buttons {
        flex-direction: column;
        gap: 10px;
    }

    #btn_contact,
    #btn_mais {
        width: 100%;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    header {
        height: auto;
        padding: 10px;
    }

    nav {
        padding: 10px;
    }

    ul {
        flex-direction: column;
        align-items: flex-start;
    }

    li {
        margin: 5px 0;
    }

    #btn-area-cliente {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #background_init {
        height: 50vh;
    }

    #background_init_text {
        max-width: 90%;
    }

    #background_init_text h2 {
        font-size: 30px;
    }

    #background_init_text p {
        font-size: 14px;
    }

    #background_init_text .buttons {
        flex-direction: column;
        gap: 10px;
    }

    #btn_contact,
    #btn_mais {
        width: 100%;
        padding: 10px 20px;
    }
}
