/* Estilos globais */
* {
    font-family: "Roboto", "Calibri", "sans-serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: #333;
}

main {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101820ff;
    color: white;
    padding: 8px 20px;
    position: relative;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

/* Menu de Navegação */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #101820ff;
    color: white;
    padding: 10px 0px;
    opacity: 0;
    animation: fadeIn 2s forwards;
    position: -webkit-sticky; /* Para compatibilidade com navegadores WebKit */
    position: sticky;
    top: 0;
    z-index: 1000; /* Certifique-se de que o nav fique acima de outros elementos */
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

li {
    margin: 0 10px;
    font-size: 15px;
}

#social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-icon {
    text-decoration: none;
    padding: 5px;
    color: white;
}

.social-media-icon:hover {
    color: #ee5b07;
    transition: 0.5s;
}

.btn-nav {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-family: "Roboto", "Calibri", "sans-serif";
    cursor: pointer;
    font-weight: bold;
}

.btn-nav:after {
    content: "";
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}

.btn-nav:hover:after {
    width: 100%;
    left: 0;
    background: #ff7e29;
}

#btn-area-cliente {
    background-color: #1a6d51;
    border-radius: 8px;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    font-weight: bold;
}

/*Dropdown dos botões do nav*/

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
/* dropdown menu style */

.dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}

.dropdown-menu ul {
    display: block;
    margin: 10px;
}

#btn-area-cliente:hover {
    background-color: #ff7e29;
}

/* Primeira section */
#background_init {
    background: linear-gradient(rgba(204, 85, 0, 0.7), rgba(255, 153, 51, 0.7)),
        url("../ASSETS/Images/background_init.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#background_init_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 50%;
}

#background_init_text h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#background_init_text p {
    font-size: 18px;
    margin-bottom: 20px;
}

#background_init_text .buttons {
    display: flex;
    gap: 20px;
}

#btn_contact,
#btn_mais {
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Roboto", "Calibri", "sans-serif";
    cursor: pointer;
    font-weight: bold;
}

#btn_contact {
    background-color: #1a6d51;
}

#btn_mais {
    background-color: #ffffff;
    color: #000000;
}

#btn_contact:hover {
    background-color: #ff7e29;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#btn_mais:hover {
    background-color: #101820ff;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Segunda section */
#setores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#setores h3 {
    font-size: 30px;
    margin: 20px 0;
    color: rgba(204, 85, 0);
    font-weight: bold;
}

#box_setores {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    width: 80%;
}

.setor_cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 25;
}

.setor_cont img {
    width: 100px;
}

#box_setores a {
    text-decoration: none;
    color: #333;
}

#box_setores a:hover {
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.setor_cont h4 {
    color: #1a6d51;
    font-weight: bold;
    font-size: 20px;
}

/* Terceira Section */
#section_sobre {
    display: flex;
    justify-content: center;
}

#section_sobre div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#section_sobre img {
    width: 570px;
    height: 513px;
}

#section_sobre h3 {
    font-size: 30px;
    margin: 20px 0;
    color: rgba(204, 85, 0);
    font-weight: bold;
}

/*Footer*/

footer {
    display: flex;
    background-color: #101820ff;
    color: white;
    flex-direction: column;
    font-family: "Roboto", "Calibri", "sans-serif";
}

#footer_logo img {
    width: 100px;
}

#footer_info {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

#footer_info h4 {
    font-weight: bold;
}

#footer_info a {
    text-decoration: none;
    color: #cfd7d8;
}

#footer_info a:hover {
    color: #ff7e29;
}

#footer_info li {
    margin-top: 10px;
}

.footer_nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer hr {
    color: #cfd7d8;
    width: 80%;
    margin: auto;
    border-radius: 8px;
}

#footer_priv {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

#footer_priv a {
    color: white;
}

#footer_priv a:hover {
    color: #ff7e29;
}

/* Media Queries for Responsiveness */
@media (max-width: 1920px) {
    #background_init_text h2 {
        font-size: 45px;
    }

    p {
        font-size: 16px;
    }

    a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header,
    nav,
    ul,
    #social-media {
        flex-direction: column;
        align-items: flex-start;
    }

    li {
        margin: 5px 0;
    }

    #btn-area-cliente {
        width: 100%;
        text-align: center;
    }

    #background_init {
        height: 60vh;
    }

    #background_init_text h2 {
        font-size: 35px;
    }

    #background_init_text p {
        font-size: 14px;
    }

    #background_init_text .buttons {
        flex-direction: column;
        gap: 10px;
    }

    #btn_contact,
    #btn_mais {
        width: 100%;
        padding: 10px 20px;
    }

    #box_setores {
        flex-direction: column;
        align-items: center;
    }

    .setor_cont {
        width: 80%;
        margin-bottom: 20px;
    }

    #section_sobre div {
        width: 90%;
    }

    #section_sobre img {
        width: 100%;
        height: auto;
    }

    footer {
        align-items: center;
    }

    #footer_info {
        flex-direction: column;
        align-items: center;
    }

    .footer_nav ul {
        align-items: center;
    }

    #footer_priv {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header {
        height: auto;
        padding: 10px;
        flex-direction: row;
    }

    #social-media {
        flex-direction: row;
    }

    nav {
        padding: 10px;
    }

    ul {
        flex-direction: column;
        align-items: flex-start;
    }

    li {
        margin: 5px 0;
    }

    #btn-area-cliente {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #background_init {
        height: 50vh;
    }

    #background_init_text {
        max-width: 80%;
    }

    #background_init_text h2 {
        font-size: 30px;
    }

    #background_init_text p {
        font-size: 14px;
    }

    #background_init_text .buttons {
        flex-direction: column;
        gap: 10px;
    }

    #btn_contact,
    #btn_mais {
        width: 100%;
        padding: 10px 20px;
    }

    #box_setores {
        flex-direction: column;
        align-items: center;
    }

    .setor_cont {
        width: 90%;
        margin-bottom: 20px;
    }

    #section_sobre div {
        width: 100%;
    }

    #section_sobre img {
        width: 100%;
        height: auto;
    }

    footer {
        align-items: center;
    }

    #footer_info {
        flex-direction: column;
        align-items: center;
    }

    .footer_nav ul {
        align-items: center;
    }

    #footer_priv {
        flex-direction: column;
        align-items: center;
    }
}
