/*Seleciona os itens listados como um indice*/

.itens1 li:nth-child(7) {
    background-color: rebeccapurple;
}
/*Even seleciona os pares e odd seleciona os impares*/

.itens2 li:nth-child(even) {
    background-color: red;
}

.itens2 li:nth-child(odd) {
    background-color: blue;
}
