form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    background-color: rgba(128, 128, 128, 0.24);
    border: 1px solid rgba(226, 221, 215, 0.2);
    border-radius: 8px;
    color: #e2ddd7;
    width: 30%;
}

.btn {
    background-color: rgba(128, 128, 128, 0.24);
    border: 1px solid rgba(226, 221, 215, 0.2);
    border-radius: 8px;
    color: #e2ddd7;
    font-weight: bold;
    width: 20%;
    margin-top: 8px;
}

.btn:hover {
    background-color: #e2ddd7;
    color: #1c1b1b;
    cursor: pointer;
}

label {
    color: white;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 14px;
}
