table {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
}

table {
    height: 100%;
    width: 60%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
}

th {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.24);
    color: #e2ddd7;
    padding: 5px;
    width: 10%;
}

td {
    background-color: #1c1b1b;
    color: #e2ddd7;
    padding: 5px;
    border-top: 1px solid rgba(226, 221, 215, 0.5);
    border-bottom: 1px solid rgba(226, 221, 215, 0.5);
}
