@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "inter";
}

main {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#container {
    width: 300px;
    height: 500px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    border-radius: 12px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
}

h1,
h2 {
    text-align: center;
}

#local {
    font-size: 12px;
    color: hsl(75, 94%, 57%);
    margin: 8px 0px 20px;
}

#descricao {
    color: hsl(0, 0%, 70%);
    font-size: 12px;
}

#foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto 10px auto;
    border: hsl(75, 94%, 57%) 3px solid;
}

.button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    width: 230px;
    text-align: center;
    height: 30px;
    margin: 15px auto;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: alias;
}
