* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*Header e navbar*/
header {
    display: flex;
    background-color: black;
    border: none;
    color: #ffffff;
}
nav {
    margin: 0 auto;
}

li {
    display: block;
    float: left;
    padding: 10px;
}

table {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
}

table {
    border: 1px solid #e3e3e3;
    height: 100%;
    width: 70%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
}

th {
    border: 1px solid #e3e3e3;
    background-color: #01141e;
    color: #ffffff;
    padding: 5px;
}

td {
    border: 1px solid #e3e3e3;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

.btnDeletar {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
